@CHARSET "US-ASCII";

/* CSS document used from other website/project that I created myself */

/* Main elements */
HTML { 
	height: 100%;
}

BODY{
	background:url(../img/bg.gif) repeat-x top left #6E7B8C;
	text-align:center;
	margin-top:49px;
	padding:0;
	font-family: Trebuchet MS;
	font-size: 13px;
	line-height: 1.53;
	text-align:center; /*center for IE */
}

FORM{
	margin:0;
	padding:0;
}
INPUT{
	margin:0;
	padding:0;
}

a{
	color:#5692E3;
}
#menu a{
	margin:0;
	padding:0 15px 0 15px;
	line-height:32px;
	height:32px;
	min-height:32px;
	display:block;
	float:right;
	text-decoration:none;
	font-weight:bold;
	color:#3A415A;
}
#menu a:hover{
	background:#fff;
}

#buttons{
	padding:1px 15px 0 0;
}

#all{
	height:100%;
	width:80%;
	margin: 0 auto 10px auto;   /* align for good browsers */
	text-align: left; /* counter the body center */
	position:relative;
	min-width:700px;
}
#header{
	position:relative;
	height:87px;
	width:100%;
	text-align:left;
	background:url(../img/menu_bg.gif) repeat-x 100% 39px;
}
#logo{
	background:url(../img/logo_bg.gif) no-repeat bottom left;
	float:left;
	width:277px;
	height:87px;
	position:absolute;
	top:0;
	left:0;
}
#logo img{
	border:0;
	width: 60px;
	height: 60px;
}
#header_sub{
	float:left;
	height:87px;
	width:100%;
	text-align:right;
	position:absolute;
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
}
#menu{
	background:url(../img/menu_corner.gif) no-repeat bottom right;
	float:left;
	height:48px;
	width:100%;
	position:relative;
	text-align:right;
}
#content{
	text-align:center;
	border-left:1px solid #5A6573;
	border-right:1px solid #5A6573;
	background:url(../img/footer.gif) repeat-x bottom left #F1F4F7;
	padding:0 10px 20px 10px;
	margin:0 0 10px 16px;
	overflow:hidden;
}

div.costumise {
	text-align: left;
	padding: 0;
	margin: 0;
}

div.costumiseContainer {
	display: none;
	background-color: #F1F4F7;
	border: 1px solid #5A6573;
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
}

#login{
	float:left;
	position:relative;
	height:39px;
	width:100%;
	overflow:hidden;
	text-align:right;
	margin:0;
}
p.login, form.login{
	margin:14px 10px 0 0;
}
div.error{
	border:1px solid #D26262;
	background:#FBD3D3;
	color:#7A3232;
	width:60%;
	margin:20px auto;
	padding:10px;
}
div.notif{
	width:60%;
	color:#2A466E;
	background:#CEE2FF;
	border:1px solid #7291BE;
	margin:20px auto;
	padding:10px;
}
.notif a{
	color:#2475E3;
}
div.pagetime{
	text-align:center;
	font-size:9px;
	color:#ccc;
}
/** FEED CSS **/
div.feed_item{
	text-align:left;
	margin:0 auto auto 0;
	padding:0;
}
div.feed_item_descr{
	border: 1px solid #CFD2D4;
	background:#fff;
	padding:5px 5px 0px 5px;
	margin:0;
	overflow:hidden;
	margin-right:5px;
}
div.feed_item_descr img {
	max-width: 100%;
	max-height: auto;
	height:auto;

}
div.feed_item_info{
	font-size:12px;
	color:#aaa;
	text-align:right;
	width:100%;
	margin:0;
	padding:0;
}
h1{
	margin:0;
	padding:0;
	color:#34344E;
	border-bottom:2px solid #CBDAD5;
}
span.feed_descr{
	color:#666;
	font-style:italic;
}
h2{
	margin:10px 0 0 0;
	padding:0;
	font-size:17px;
	margin-top: 0;
	padding-top: 0;
}
h2 a{
	text-decoration:none;
	color:#456690;
}
h2 a:hover{
	color:#5CA0CF;
}
div.feed_item_files{
	border-top:1px solid #C4C4C4;
	border-bottom:1px solid #C4C4C4;
	margin:10px 20px 2px 20px;
	padding-bottom: 4px;
}
ul.feed_item_files{
	list-style-type:none;
	display:inline;

}
ul.feed_item_files li{
	margin-right:20px;
	display: inline;
	font-size:11px;
	line-height:16px;
}
img.file_icon{

}
a.file_text{
	margin-top: 10px;
	padding-top: 10px;
	text-decoration:none;
}
div.profileContent
{
	margin-top: 50px;
	text-align:left;
	
	width: 100%;
}

input.openIDLogin
{
	width: 150px;
	height: 16px;
	background: url(../images/openid.png) no-repeat;
	background-color: white;
	padding-left: 18px;
}

.profileBar

{
	float: left;
	
	width: 100%;
	
	text-align: left;
}

.profileBoxLeft

{
	float: left;
	
	text-align: left;
	
	width: 48%;
}

.profileBoxRight

{
	float: right;
	
	text-align: left;
	
	width: 48%;
}

.profileDataName

{
	clear:left;
	
	float: left;
	
	width: 30%;
}

.profileDataValue

{
	float: right;
	
	width: 70%;
}

.profileDataBox

{
	width: 100%;
	
	padding-top: 20px;
	
	line-height: 25px;
}

div.friendlistitem
{
	border: 1px solid #CFD2D4;
	background-color: #fff;
	width: 300px;
	vertical-align: top;
	margin-top: 3px;
}

img.friendlistitem
{
	display: inline-table;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}

p.friendlistitem
{
	height: 100%;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

a.friendlistitem
{
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	padding-left: 10px;	
	vertical-align: middle;
}

div.friendheader
{
	vertical-align: top;
	margin-top: 3px;
	margin-bottom: 10px;
}

img.friendheader
{
	display: inline-table;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}

p.friendheader
{
	height: 100%;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

a.friendheader
{
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	padding-left: 5px;	
	vertical-align: middle;
}

/* Submenu */
div.submenu {
	margin: auto;
}


/* Tables */

table.table_normal {
	margin: auto;
	text-align: center;
	border-collapse: collapse;
	min-width: 70%;
}

table.table_descr {
	margin: auto;
	text-align: center;
	min-width: 70%;
}

tr.table_normal_title td {
	background-color: #CBDAD5;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}

td.descr_label {
	font-weight: bold;
}

tr.table_normal_row td {
	border: 1px solid #CCCCCC;
}

form {
	margin:0;
	padding:0;
}

input {
	margin:0;
	padding:0;
}

/* Forms */
.table_form {
	margin: auto;
	margin-top: 10px;
	color:#34344E;
}
	
.table_form .required .label {
	width: 45%;
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: right;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	border-bottom: 1px dotted #CBDAD5;
	border-left: 2px solid #CBDAD5;
}

.table_form .optional .label {
	width: 45%;
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: right;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	border-bottom: 1px dotted #CBDAD5;
}
	
.table_form .content {
	width: 45%;
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: left;
	padding: 3px;
	border-bottom: 1px dotted #CBDAD5;
}

select {
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: left;
	margin-right: 2px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color:#34344E;
}

select.noerror {
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: left;
	margin-right: 2px;
	border: 1px solid #999999;
	background: #66CC33;
	color: #006633;
}

select.error {
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: left;
	margin-right: 2px;
	border: 1px solid #999999;
	background:#FBD3D3;
	color:#7A3232;
}

input.searchBar
{
	width: 150px;
}

Input {
	background-color: #FFFFFF;
	border: 1px solid #999999;
}

Input[type="checkbox"] {
	background-color: #FFFFFF;
	border: 1px solid #999999;
}

Input[type="submit"] {
	font-family: Trebuchet MS;
	font-size: 13px;
	background-color: #CBDAD5;
	color:#34344E;
	border: 1px solid #34344E;
	padding: 2px;
}

Input[type="reset"] {
	font-family: Trebuchet MS;
	font-size: 13px;
	background-color: #CBDAD5;
	color:#34344E;
	border: 1px solid #34344E;
	padding: 2px;
}

Input[type="text"] {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color:#34344E;
}
	
Input[type="text"].noerror {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	border:1px solid #006633;
	background: #66CC33;
	color: #006633;
}

Input[type="text"].error {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	border:1px solid #D26262;
	background:#FBD3D3;
	color:#7A3232;
}

Input[type="password"] {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color:#34344E;
}

Input[type="password"].noerror {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	border:1px solid #006633;
	background: #66CC33;
	color: #006633;
}

Input[type="password"].error {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	border:1px solid #D26262;
	background:#FBD3D3;
	color:#7A3232;
}

Input[type="file"] {
	font-family: Trebuchet MS;
	font-size: 13px;
	margin-right: 2px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color:#34344E;
}

textarea {
	font-family: Trebuchet MS;
	font-size: 13px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color:#34344E;
	text-align: left;
}






